@font-face{ 
	font-family: Trebuchet MS;
}

h1, h2, h3, h4, h5, .navbar-default .navbar-brand  {
    font-family: Trebuchet MS;
    }

/* Fixed navbar requires padding */
body {
  padding-top: 0px;
  /*background-color: #cecece;*/
  background: url(../img/achtergrond/LIMO2020achtergrond.png);
  background-size: 100%;
}

/* Tables without separators. */
.table th, .table td {
  border-top: none !important;
  padding: 3px !important;
}

#s1 {
  display: none;
}
#s1 a {
  padding: 6em 0.5em 6em 0.5em;
  box-shadow: 0 0 5px 0 black;
  margin-left: 20px;
}

#s1 a img {
  width: 13em;
  max-height: 13em;
}
#s1 > div {
    margin-top: 1em;
}

#limo-navbar {
  line-height: 60px;
}

#limo-navbar img {
  max-width: 15em;
  padding: 0em 1em 0em 0em;

  vertical-align: middle;
}

#aes2-navbar {
  line-height: 60px;
}

#aes2-navbar img {
  max-width: 15em;
  padding: 0em 0.5em 0em 0.5em;

  vertical-align: middle;
}

.lang {
  display: none;
}

.lang-current {
  display: block;
}

#limo-logo {
  max-width: 20em;
}

p.function {
     font-style: italic;
}

/* meer */
.navbar-brand:hover, .navbar-nav > li:hover, .navbar-right:hover {
    background-color: #f8f8f8; 
    }


.well-lg {
    background-color: rgba(255,255,255,0.9);
    padding-top: 80px;
    margin-top: -15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

#sponsortabel {
    width: 100%;
    }

#sponsortabel td {
    width: 14.2857142857%;
}

#sponsortabel a {
    transition: all 0.5s ease-in-out;
}

#sponsortabel img{
    width: 100%;
    transition: all 0.2s ease-in-out;
    filter: grayscale(0%);

    }
    
#sponsortabel figure{
    margin: 5%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    position: relative;

}

#sponsortabel a:hover figure {
    /*transform: scale(1.2);*/
    filter: grayscale(100%); 
    }

#sponsortabel a:hover div {
    opacity: 1;
}

#sponsortabel div {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(255,255,255,0.5);*/
    z-index: 1;
    text-align: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#sponsortabel span {
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 3px;
    padding: 3px;
    }



.navbar-default {
    background-color: rgba(255,255,255,0.9);
}

.navbar-default .navbar-nav > .active > a
{
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover
{
    background-color: rgba(169, 212, 0, 0.3);
}

.latex {
 width: 70%;
 }

/* Kleur */
h1, h2, h3, h4, h5, h6, a, .navbar-default .navbar-brand {
 color: #89B300;
 }

hr {
 border-color: #89B300;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,0.03);
}

.foto {
    padding-left: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
}

#row {
     text-align:center;
}

*::-moz-selection  {
    background-color: #89B300;
    color: #ffffff;
}

*::selection {
    background-color: #AED900;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .col-sm-offset-1 {
        margin-left: 20%;
    }
    .col-sm-10 {
        width: 60%;
    } 
}

@media (max-width: 1076px) {
    .well-lg{
        padding-top: 145px;
    }
}

@media (max-width: 860px) {
    .well-lg{
        padding-top: 210px;
    }
}

@media only screen and (max-width: 768px) {
    .teveel {
        display: none;
    }
    .latex {
        width: 100%;
    }
    .well-lg{
        padding-top: 80px;
    }
}




